<th>
    <div class="col-10 row">
        @ColumnTitle
        @if (ColumnTitle != "Actions")
        { 
            <input class="form-control" placeholder="search" @oninput="OnSearchTextChanged" />
        }
        else
        {
            <input type="button" class="btn btn-primary" @onclick="OnActionClicked" value="Search"/>
        }
    </div>    
</th>

@code {

    [Parameter]
    public string ColumnTitle { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchTextChanged { get; set; }

    [Parameter]
    public EventCallback OnActionClicked { get; set; }
}
